.btn {
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: "Montserrat-semi-bold", sans-serif;
}

.btn-rounded-base {
  border-radius: 1000px;
  filter: drop-shadow(2.121px 2.121px 6px rgba(0, 0, 0, 0.24));
  line-height: 25px;
  text-align: center;
  max-width: max-content;
}

.btn-link {
  line-height: 20px;
  color: #2b2a2c;
  padding-bottom: 5px;
  max-width: max-content;
  font-size: 14px;
  border-bottom: 2px solid transparent;
}
.btn-link:hover {
  border-bottom: 2px solid #2b2a2c;
}
@media (width < 48rem) {
  .btn-link {
    font-size: 12px;
  }
}

.btn-secondary {
  background-color: white;
  border: 2px solid #2b2a2c;
  color: #2b2a2c;
}
.btn-secondary:hover {
  background-color: #2b2a2c;
  color: white;
}

.btn-primary {
  background-color: #2b2a2c;
  color: white;
  border: 2px solid transparent;
}
.btn-primary:hover {
  background-color: white;
  color: #2b2a2c;
  border: 2px solid #2b2a2c;
}

.btn.btn-primary,
.btn.btn-secondary {
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  width: max-content;
  border-radius: 100px;
}
@media (width < 48rem) {
  .btn.btn-primary .btn,
  .btn.btn-secondary .btn {
    padding: 0.6rem 1.3rem 0.6rem 1.3rem;
  }
}

@media (width < 48rem) {
  .btn {
    font-size: 12px;
  }
}
.container-header {
  padding: 1rem;
}
@media (width >= 48rem) {
  .container-header {
    padding: 1rem 3rem 1rem 3rem;
  }
}
@media (width >= 64rem) {
  .container-header {
    padding: 1rem 8rem 1rem 8rem;
  }
}

header nav {
  padding-top: 1rem;
  display: block;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 48em) {
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
header nav li a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
header nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: start;
  padding-top: 1rem;
}
header nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: absolute;
  user-select: none;
  top: 1rem;
  right: 0;
}
header nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
header nav .menu-icon .navicon:before,
header nav .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
header nav .menu-icon .navicon:before {
  top: 5px;
}
header nav .menu-icon .navicon:after {
  top: -5px;
}
header nav .menu-btn {
  display: none;
}
header nav .menu-btn:checked ~ .menu {
  max-height: 240px;
}
header nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
header nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
header nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
header nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  header nav li {
    float: left;
  }
  header nav .menu {
    clear: none;
    float: right;
    max-height: none;
    flex-direction: row;
    align-items: baseline;
    padding-top: 0;
  }
  header nav .menu-icon {
    display: none;
  }
}
.card-project-block {
  padding-top: 6rem;
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 1.8rem;
  grid-template-columns: repeat(auto-fit, 100%);
}
@media (min-width: 640px) {
  .card-project-block {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
}
@media (min-width: 1536px) {
  .card-project-block {
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  }
}

.wrapper-social-networks {
  display: flex;
  gap: 1rem;
}

.container {
  display: grid;
  margin: 0 1rem 0 1rem;
}
@media (width >= 48rem) {
  .container {
    margin: 0 3rem 0 3rem;
  }
}
@media (width >= 64rem) {
  .container {
    margin: 0 8rem 0 8rem;
  }
}

main {
  padding-top: 2rem;
}
@media (width >= 48rem) {
  main {
    padding-top: 6rem;
  }
}
main .welcome-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
}
@media (width >= 48rem) {
  main .welcome-block {
    flex-direction: row;
  }
}
main .welcome-block .welcome-first-block, main .welcome-block .about-me {
  display: flex;
  flex-direction: column;
}
main .welcome-block .welcome-first-block {
  gap: 1.5rem;
}
main .welcome-block .welcome-first-block .about-me {
  gap: 0.5rem;
}
main .welcome-block .welcome-first-block .about-me div {
  font-size: 27px;
  font-family: "Montserrat-bold", sans-serif;
}
main .welcome-block .welcome-first-block .about-me h1 {
  font-size: 32px;
  font-family: "Montserrat-bold", sans-serif;
}
main .welcome-block .welcome-img {
  text-align: center;
}
@media (width >= 48rem) {
  main .welcome-block .welcome-img {
    text-align: end;
  }
}
main h1 {
  margin: 0;
}

.ft-18 {
  font-size: 18px;
}

.ft-light {
  font-family: "Montserrat-light", sans-serif;
}

@font-face {
  font-family: "Montserrat-thin";
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-medium";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-semi-bold";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-light";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
}
body .main-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
