@import "components/buttons";
@import "shared/homepage";

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  .main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
